<?xml version="1.0"?>

<!--
This launch file adds processing nodelets to the existing sa_camera_nodelet_manager.
-->

<launch>

  <node pkg="nodelet" type="nodelet" name="left_sa_rectify"
        args="load vigir_wide_angle_image_proc/rectify sa_camera_nodelet_manager" output="screen">
    <remap from="image_mono" to="/sa/left/image_raw" />
    <remap from="camera_info" to="/sa/left/camera_info" /> 
    <remap from="image_rect_ns" to="/sa/left/rect/image_rect" />
    <param name="calibration_text_file" value="$(find vigir_wide_angle_image_proc)/calib/calib_results_l_sa.txt" />
  </node>

  <node pkg="nodelet" type="nodelet" name="right_sa_rectify"
        args="load vigir_wide_angle_image_proc/rectify sa_camera_nodelet_manager" output="screen">
    <remap from="image_mono" to="/sa/right/image_raw" />
    <remap from="camera_info" to="/sa/right/camera_info" />
    <remap from="image_rect_ns" to="/sa/right/rect/image_rect" /> 
    <param name="calibration_text_file" value="$(find vigir_wide_angle_image_proc)/calib/calib_results_r_sa.txt" />
  </node>

</launch>

